/* {
  box-sizing: border-box;
  overflow: visible !important;
}*/

body {
  background: #fafafa url(../images/congruent_pentagon/congruent_pentagon.png);
  font-family: 'Arbutus Slab', serif;
  margin: 0px;
  padding: 0px;
}
#menubutton {
  display: block;
  z-index: 101;
  position: absolute;
  left: 10px;
}
rms-menuitem  a,
rms-menuitem  a:link,
rms-menuitem  a:visited,
rms-menuitem  a:active,
rms-menuitem  a:hover {
color: #C5CAE9;

}
paper-material {
  background: white;
}

        paper-button {
          background: #d499ff; 
        }

        app-header {
  z-index: 100;
}


app-drawer-layout {
  width:100%  ;
}

#drawer {
  color: #C5CAE9;
  background: #1d0033; 
  height: 100%;
  line-height: 350%;
}

a,
a:link,
a:visited,
a:active,
a:hover {
  text-decoration: none;
  color: #1d0033;
  padding : 0px;
}

a:hover {
  color: black
}

#title {
  color: indigo;
  font-size: 1em;
}


#rocketslogo {
  height:130px;
  width:112px;
}

#derrick {
  height:112px;
  width:112px;
}

a.partner-card {
  text-align:center;
}
iron-image.partner-card {
  height:130px;
  width:130px;
}
p.rms-home , h3.rms-home {
 margin: 0px ;
}

.rms-main, .rms-main-half {
  width: 336px;
  margin: 0px 0px 12px 0px;
}

.rms-card {
  width: 162px;
  height: 204px;
  margin: 0px 0px 12px 0px;
}

.rms-third {
  width: 112px;
  margin: 12px;
}

.rms-two-thirds {
  width: 224px;
  margin: 12px 12px 12px 0px;
}

@media only screen and (min-width: 481px) {
  .rms-main, .rms-main-half {
    width: 456px;
  }
  .rms-card {
    width: 222px;
  }
  .rms-third {
    width: 152px;
  }
  .rms-two-thirds {
    width: 304px;
    margin: 10px;
  }
  #title {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 601px) {
  .rms-main, .rms-main-half {
    width: 576px;
  }
  .rms-card {
    width: 282px;
  }
  .rms-third {
    width: 192px;
  }
  .rms-two-thirds {
    width: 384px;
  }
  #drawer {
    font-size: 1.0em;
  }
}

@media only screen and (min-width: 961px) {
  .rms-main {
    width: 912px;
  }
 .rms-main-half {
    width: 450px;
  }

  .rms-card {
    width: 219px;
  }
  .rms-third {
    width: 304px;
  }
  .rms-two-thirds {
    width: 608px;
  }
  #drawer {
    font-size: 1.0em;
  }


#rocketslogo {
  height:240px;
  width:200px;
}

#derrick {
  height:300px;
  width:300px;
}
body {
font-size:1.25em;
}

}

@media only screen and (min-width: 1281px) {
  .rms-main {
    width: 1184px;
  }
  /*
   *
   * half minux 6
   */
  .rms-main-half {
    width: 586px;
  }


  .rms-card {
    width: 287px;
  }
  .rms-third {
    width: 400px;
  }
  .rms-two-thirds {
    width: 784px;
  }
  #rocketslogo {}
  partner-card {}
  #title {
    font-size: 3em;
  }
}
